input, button
{
  /* display: block; */
  /* height: 2em;
  margin: 0.5em; */
}



.reto
{
  padding: 5px 5px;
  margin: 5px 5px;
  border-radius: 10px;
  border : 1px solid blue;

  text-align: center;
}
